# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

v1.21.4/run
v1.21.5/run
v1.21.11/run
v26.1.2/run
v26.2/run

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
